.tabela {
    background-color: white;
    text-align: left;
    width: 100%;
}

.header {
    border-bottom: 0.5px solid rgba(0,0,0,0.5);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    align-items: center;

    &_conteudo {
        font-size: 20px;
        padding: 0 12px;
        font-weight: bold;
    }
}

.linha {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    &_conteudo {
        font-size: 16px;
        padding: 12px 20px;
    }
}

#image {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    width: 50px;
    height: 30px;
}

#conteudoImage {
    text-align: center;
}

cdk-virtual-scroll-viewport {
    height: calc(100vh - 218px);
}