<div class="tabela">
    <div class="header">
        <div class="header_conteudo">Bandeira</div>
        <div class="header_conteudo">Nome</div>
        <div class="header_conteudo">Capital</div>
    </div> 
    <cdk-virtual-scroll-viewport [itemSize]="35">
        <div class="linha" *cdkVirtualFor="let p of paises">
            <div class="linha_conteudo"><img src={{p.flag}} alt="{{p.name}} flag" id="image"></div>
            <div class="linha_conteudo">{{p.name}}</div>
            <div class="linha_conteudo">{{p.capital}}</div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>