html{
    margin: 0;
    height: 100vh;
  }

header {
    height: 80px;
    width: 100vw;
    background-color: rgba(0,0,0,0.1);
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 6px;
}

body {
    margin: 20px 16px 4px;
}

footer {
    height: 50px;
    width: 100%;
    position:fixed;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.center-footer {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-footer {
    font-size: 14px;
    text-align: right;
    color: whitesmoke;
    margin-left: 30px;
}

@media screen and (max-width: 400px) {
    body {
        margin: 20px 0 4px;
    }
}